html {
    background-color: lightsalmon;
}

/* #main-container {
    position: relative;
    width: 100%;
} */

#header {
    width: 100%;
    height: 100;
}

#header-img {
    float: left;
    position: fixed;
    z-index: 1;
    width: 25%;
    height: 20.75%;
   
}

#nav {
    display: block;
    color: white;
    float: right;
    list-style-type: none;
    margin-right: 5%;
}

#nav-bar {
    position: fixed;
    background-color: darkred;
    width: 100%;
}

.nav-link a:link ,
.nav-link a:visited {
    display: block;
    color: white;
    float: right;
    padding: 2% 2% 2% 2%;
    
}

nav li{
    display: inline;
    padding: 0;
    margin: 0%;
}


#video {
    display: block;
    margin: auto;
}

h2 {
    text-align: center;
}

#gameplay {
    display: flex;
    flex-direction: column;
}


